/*
	PLAYER
*/

#player-container {
	width: 96%;
	padding: 13px 2%;
}

#player-text {
	height: 20px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#player-text #artist:after {
	content:" - ";
}
#player-text #album:after {
	content:" - ";
}

#player {
	width: 100%;
}

/*
	NAV
*/

#nav {
	position: relative;
	background: #000;
	height: 30px;
	line-height: 30px;
}
#tab-links li {
	float: left;
}

.tab-link {
	padding: 0 20px;
	display: block;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}
.tab-link:hover, #tab-links .selected {
	background: #333;
}
#categories:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

#search {
	position: absolute;
	top: 0px;
	right: 5px;
}
#search input {
	width: 200px;
}

/*
	TABS
*/

#tabs {
	position: relative;
	width: 100%;
	height: 70%;
	background: #333;
	color: #FFF;
}

#loading-tab span {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
	width: 32px;
	height: 32px;
}

.tab-main {
	position: absolute;
	width: 98%;
	padding: 0 1%;
	height: 100%;
	overflow: auto;
	background: #333;
	color: #FFF;
	z-index: 0;
}

#tabs .selected {
	z-index: 1;
}

/*
	SONG TAB
*/

.song:hover {
	background: #555;
	cursor: pointer;
}

.playing {
	color: #99F;
}

.artist, .album, .title {
	display: inline-block;
	width: 25%;
	white-space: nowrap;
	overflow: hidden;
}

.title {
	width: 40%;
}

.duration {
	float: right;
}

/*
	FOOTER
*/

#footer {
	position: absolute;
	bottom: 0;
	z-index: 2;
	width: 98%;
	border-top: 1px solid black;
	background: #333;
	color: #FFF;
	padding: 3px 1%;
}

#log-link:hover {
	cursor: pointer;
	color: #AAA;
}